/*
	Theme Name: Suffolk Libraries intranet
	Theme URI: http://www.studiopress.com/
	Description: Child of the Genesis theme with no inherited styles
	Author: Leon Paternoster
	Author URI: https://www.leonpaternoster.com/

	Version: 0.1

	Tags: black, red, white, one-column, two-columns, three-columns, left-sidebar, right-sidebar, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

	Template: genesis
	Template Version: 2.3.0

	License: GPL-2.0+
	License URI: http://www.gnu.org/licenses/gpl-2.0.html

	Text Domain: genesis-sample
*/


/*

TABLE OF CONTENTS
--------------------------------------------------------------------------------

- RESET
- ELEMENTS
- UTILITY CLASSES
- HEADER
- MAIN CONTENT AREA
- BREADCRUMBS
- ARTICLES
- SIDEBARS
- FOOTERS
- WIDGETS
- PRINT STYLES

*/


/*
RESET
--------------------------------------------------------------------------------
*/

@media screen, projection {


html {
	font-size: 112.5%;
}

@media only screen and (min-width: 840px) {
	html {
		font-size: 125%;
	}
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.5;
	color: #333;
	background-color: #EEE;
	font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, ubuntu, roboto, noto, "segoe ui", "helvetica neue", helvetica, arial, sans-serif;
}

article,
aside,
figcaption,
figure,
figcaption,
footer,
header,
nav,
section {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
dt {
	line-height: 1.2;
	margin: 0;
}

a img {
	border: none;
}

sup,
sub {
	line-height: 0;
}

figure,
figcaption {
	margin: 0;
}


/*
ELEMENTS
--------------------------------------------------------------------------------
*/

a:link {
	text-decoration: none;
}


/*
UTILITY CLASSES
--------------------------------------------------------------------------------
*/

/* Accessible hiding */
.genesis-skip-link,
.screen-reader-text {
	position: absolute !important;
	height: 1px; width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}

.screen-reader-text a:focus,
.screen-reader-text input:focus,
.screen-reader-text button:focus {
	position: static;
	width:auto;
	height:auto;
}


/*
HEADER
--------------------------------------------------------------------------------
*/

.site-header {
	background-color: #FFF;
	padding: 1rem 0.5rem;
}

@media only screen and (min-width: 840px) {
	.site-header {
		padding: 1rem 1.5rem;
	}
}

.site-header .wrap {
	max-width: 60rem;
	margin: 0 auto;
}

@media only screen and (min-width: 840px) {
	.site-header .wrap {
		display: table;
		width: 100%;
	}
}

/* Header layout at widescreen */
@media only screen and (min-width: 840px) {
	.title-area {
		display: table-cell;
		vertical-align: top;
		width: 30%;
		padding-right: 5%;
	}
	.header-widget-area {
		display: table-cell;
		vertical-align: top;
		width: 60%;
		padding-left: 5%;
		text-align: right;
	}
}

.site-title {
	font-size: 0.875rem;
	font-weight: 600;
	margin: 0 0 0.25rem 0;
}

.site-title a:link,
.site-title a:visited {
	color: #00449E;
}

.site-title a:hover,
.site-title a:active,
.site-title a:focus {
	color: #E7040F;
}

@media only screen and (min-width: 840px) {
	.site-title {
		font-size: 1rem;
		margin-bottom: 0;
	}
}


/*
MAIN CONTENT AREA
--------------------------------------------------------------------------------
*/

.site-inner {
	padding-top: 1rem;
}

@media only screen and (min-width: 840px) {
	.site-inner {
		padding: 1rem 1.5rem;
	}
}

.content-sidebar-wrap {
	max-width: 60rem;
	margin: 0 auto;
}

@media only screen and (min-width: 840px) {
	.content-sidebar-wrap {
		display: table;
		width: 100%
	}
}

#genesis-content {
	padding: 0.5rem;
	background-color: #FFF;
	margin-bottom: 1.5rem;
}

@media only screen and (min-width: 840px) {
	#genesis-content {
		padding: 2rem;
		display: table-cell;
		width: 65%;
		vertical-align: top;
		margin-bottom: 0;
		border-right: 1px solid #CCC;
	}
}


/*
BREADCRUMBS
--------------------------------------------------------------------------------
*/

.breadcrumb {
	font-size: 0.875rem;
	color: #777;
	background-color: #EEE;
	padding: 0.25rem;
	margin-bottom: 1rem;
}

@media only screen and (min-width: 840px) {
	.breadcrumb {
		padding: 0.5rem;
		margin-bottom: 1rem;
	}
}

.breadcrumb a:link,
.breadcrumb a:visited {
	color: #00449E;
	border-bottom: 1px dotted #00449E;
}

.breadcrumb a:hover,
.breadcrumb a:active,
.breadcrumb a:focus {
	color: #E7040F;
	border-bottom: 1px dotted #E7040F;
}


/*
ARTICLES
--------------------------------------------------------------------------------
*/

.archive .entry {
	padding: 1rem 0;
}

.entry-header {
	padding-bottom: 1rem;
	border-bottom: 1px solid #EEE;
	margin-bottom: 1rem;
}


/* We need !importants here because Genesis injects
inline code */
.entry-title,
.archive-title {
	font-size: 1.5rem !important;
	margin: 0 0 0.25rem 0 !important;
	line-height: 1.2  !important;
	font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, ubuntu, roboto, noto, "segoe ui", "helvetica neue", helvetica, arial, sans-serif !important;
}

.archive .entry-title {
	font-size: 1.25rem !important;
}

@media only screen and (min-width: 840px) {
	.entry-title,
	.archive-title {
		font-size: 2.25rem  !important;
	}
	.archive .entry-title {
		font-size: 1.5rem !important;
	}
}

.entry-title a:link {
	color: #00449E;
}

.entry-title a:visited {
	color: #408BC9;
}

.entry-title a:hover,
.entry-title a:active,
.entry-title a:focus {
	color: #E7040F;
}

.entry-meta {
	color: #777;
	font-size: 0.875rem;
	margin: 0;
}

.entry-meta a:link,
.entry-meta a:visited {
	color: #00449E;
	border-bottom: 1px dotted #00449E;
}

.entry-meta a:hover,
.entry-meta a:active,
.entry-meta a:focus {
	color: #E7040F;
	border-bottom: 1px dotted #E7040F;
}

.entry-content a:link {
	color: #00449E;
}

.entry-content a:visited {
	color: #408BC9;
}

.entry-content a:hover,
.entry-content a:active,
.entry-content a:focus {
	color: #E7040F;
}


/*
SIDEBARS
--------------------------------------------------------------------------------
*/

#genesis-sidebar-primary {
	padding: 0.5rem;
	background-color: #FFF;
}

@media only screen and (min-width: 840px) {
	#genesis-sidebar-primary {
		padding: 2rem;
		display: table-cell;
		width: 35%;
		vertical-align: top;
	}
}


/*
FOOTERS
--------------------------------------------------------------------------------
*/

.site-footer {
	padding: 1rem 0.5rem;
}

@media only screen and (min-width: 840px) {
	.site-footer {
		padding: 1rem 1.5rem;
	}
}

.site-footer .wrap {
	max-width: 60em;
	margin: 0 auto;
}

.site-footer p {
	font-size: 0.875rem;
}


/*
WIDGETS
--------------------------------------------------------------------------------
*/

/* Search form */
.search-form input[type="search"] {
	width: 75%;
	padding: 0.5rem;
	border: 1px solid #CCC;
	font-size: 0.875rem;
	font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, ubuntu, roboto, noto, "segoe ui", "helvetica neue", helvetica, arial, sans-serif;
	-webkit-appearance: none;
	border-radius: 0;
}

.search-form input[type="submit"] {
	padding: 0.5rem;
	background-color: #00449E;
	color: white;
	font-size: 0.875rem;
	border: 1px solid #CCC;
	cursor: pointer;
	font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, ubuntu, roboto, noto, "segoe ui", "helvetica neue", helvetica, arial, sans-serif;
	-webkit-appearance: none;
	border-radius: 0;
}

::-moz-placeholder {
	color: transparent;
	opacity: 0;
}

::-webkit-input-placeholder {
	color: transparent;
}

/* Widgets in sidebars */
.sidebar .widget {
	padding-bottom: 1.5rem;
}

.sidebar .widget-title {
	font-size: 1.25rem;
	margin-bottom: 0.5rem;
}

.sidebar .widget ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.sidebar .widget li {
	padding: 0.125rem 0;
	border-top: 1px solid #EEE;
}

.sidebar .widget a:link {
	color: #00449E;
}

.sidebar .widget a:visited {
	color: #408BC9;
}

.sidebar .widget a:hover,
.sidebar .widget a:active,
.sidebar .widget a:focus {
	color: #E7040F;
}

.sidebar .widget .post-date {
	font-size: 0.875em;
	color: #777;
}

/* Nav list generated in main area
Note: authors will need to add .main-page-nav-list wrapper
*/
.main-page-nav-list ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.main-page-nav-list li {
	padding: 0.25rem 0 1rem 0;
	border-bottom: 1px solid #EEE;
}

@media only screen and (min-width: 840px) {
	.main-page-nav-list li {
		padding: 0.25rem 0 1.5rem 0;
	}
}

.main-page-nav-list h2 {
	font-size: 1rem;
	margin: 0;
	font-weight: 600;
}

@media only screen and (min-width: 840px) {
	.main-page-nav-list h2 {
		font-size: 1.5rem;
	}
}

.main-page-nav-list .entry-content p {
	margin: 0;
}



} /* End of screen media query, print styles can follow this */


/*
PRINT STYLES
--------------------------------------------------------------------------------
*/

@media print {


	* {
		background: #FFF;
		color: #000;
	}

	html {
		font: 100%/1.5 georgia, serif;
	}


} /* End print style sheet */
