/*
	Theme Name: Suffolk Libraries intranet
	Theme URI: http://www.studiopress.com/
	Description: Child of the Genesis theme with no inherited styles
	Author: Leon Paternoster
	Author URI: https://www.leonpaternoster.com/

	Version: 0.1

	Tags: black, red, white, one-column, two-columns, three-columns, left-sidebar, right-sidebar, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

	Template: genesis
	Template Version: 2.3.0

	License: GPL-2.0+
	License URI: http://www.gnu.org/licenses/gpl-2.0.html

	Text Domain: genesis-sample
*/


/*

TABLE OF CONTENTS
--------------------------------------------------------------------------------

- RESET
- ELEMENTS
- UTILITY CLASSES
- HEADER
- MAIN CONTENT AREA
- BREADCRUMBS
- ARTICLES
- SIDEBARS
- FOOTERS
- WIDGETS
- PRINT STYLES

*/


/*
RESET
--------------------------------------------------------------------------------
*/

@media only screen, projection {

body {
	margin: 0;
	padding: 0;
	line-height: 1.5;
	color: #333;
	background-color: #EEE;
	font-family: -apple-system, BlinkMacSystemFont, ubuntu, roboto, noto, "segoe ui", "helvetica neue", helvetica, arial, sans-serif;
}

article,
aside,
figcaption,
figure,
figcaption,
footer,
header,
nav,
section {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
dt {
	line-height: 1.2;
	margin: 0;
}

a img {
	border: none;
}

sup,
sub {
	line-height: 0;
}

figure,
figcaption {
	margin: 0;
}


/*
ELEMENTS
--------------------------------------------------------------------------------
*/

html {
	font-size: 106.25%;
}

@media only screen and (min-width: 840px) {
	html {
		font-size: 118.75%;
	}
}

@media only screen and (min-width: 1060px) {
	html {
		/* Nudge to allow login bar at widescreen */
		margin-top: 32px;
	}
}

a:link {
	text-decoration: none;
}


/*
UTILITY CLASSES
--------------------------------------------------------------------------------
*/

/* Accessible hiding */
.genesis-skip-link,
.screen-reader-text {
	position: absolute !important;
	height: 1px; width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}

.screen-reader-text a:focus,
.screen-reader-text input:focus,
.screen-reader-text button:focus {
	position: static;
	width:auto;
	height:auto;
}

/* Type scale (see http://tachyons.io/docs/typography/scale/) */
.f1 {
	font-size: 3rem !important;
}

.f2 {
	font-size: 2.25rem !important;
}

.f3 {
	font-size: 1.5rem !important;
}

.f4 {
	font-size: 1.25rem !important;
}

.f5 {
	font-size: 1rem !important;
}

.f6 {
	font-size: 0.875rem !important;
}

/* Backround corporate purple */
.bg-purple {
	background-color: #3B1B53 !important;
}

.white {
	color: white !important;
}

/* Some default 1 rem padding */
.pa-normal {
	padding: 1rem !important;
}

/* Margins */
.ma0 {
	margin: 0 !important;
}

.mb-normal {
	margin-bottom: 1rem;
}


/*
HEADER
--------------------------------------------------------------------------------
*/

.site-header {
	background-color: #3B1B53;
	color: #FFF;
	padding: 1rem 0.5rem;
}

@media only screen and (min-width: 840px) {
	.site-header {
		padding: 1rem 1.5rem;
	}
}

.site-header .wrap {
	max-width: 60rem;
	margin: 0 auto;
}

/*
This is the container for the header elements we want to lay out.
We set the grid properties on the container and the direct children will be laid
out accordingly.
*/
@media only screen and (min-width: 840px) {
	.site-header .wrap {
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-gap: 2em;
	}
}

.site-title {
	font-size: 0.875rem;
	font-weight: 600;
	margin: 0 0 0.25rem 0;
}

.site-title a:link,
.site-title a:visited {
	color: #FFF;
}

.site-title a:hover,
.site-title a:active,
.site-title a:focus {
	color: #FFF;
}

@media only screen and (min-width: 840px) {
	.site-title {
		font-size: 1rem;
		margin-bottom: 0;
	}
}


/*
MAIN CONTENT AREA
--------------------------------------------------------------------------------
*/

.site-inner {
	padding-top: 1rem;
}

@media only screen and (min-width: 840px) {
	.site-inner {
		padding: 1rem 1.5rem;
	}
}

.content-sidebar-wrap {
	max-width: 60rem;
	margin: 0 auto;
}

/*
This wraps the content areas we want to lay out with grid.
We apply grid properties which determine the behaviour of its direct children.
*/
@media only screen and (min-width: 840px) {
	.content-sidebar-wrap {
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-gap: 2em;
	}
}

#genesis-content {
	padding: 0.5rem;
	background-color: #FFF;
	margin-bottom: 1.5rem;
}

@media only screen and (min-width: 840px) {
	#genesis-content {
		padding: 2rem;
		border: 1px solid #FFF;
		border-radius: 3px;
	}
}


/*
BREADCRUMBS
--------------------------------------------------------------------------------
*/

.breadcrumb {
	font-size: 0.875rem;
	color: #777;
	background-color: #EEE;
	padding: 0.25rem;
	margin-bottom: 1rem;
}

@media only screen and (min-width: 840px) {
	.breadcrumb {
		padding: 0.5rem;
		margin-bottom: 1rem;
	}
}

.breadcrumb a:link,
.breadcrumb a:visited {
	color: #00449E;
	border-bottom: 1px dotted #00449E;
}

.breadcrumb a:hover,
.breadcrumb a:active,
.breadcrumb a:focus {
	color: #EC008C;
	border-bottom: 1px dotted #EC008C;
}


/*
ARTICLES
--------------------------------------------------------------------------------
*/

.archive .entry {
	padding: 1rem 0;
}

.search-results .entry,
.blog .entry {
	padding-bottom: 1.5rem;
}

.entry-header,
.archive-description {
	padding-bottom: 1rem;
	border-bottom: 1px solid #EEE;
	margin-bottom: 1rem;
}

/* Make padding on article listing headers */
.entry .entry-header {
	padding-bottom: 0.25rem;
}


/* We need !importants here because Genesis injects
inline code */
.entry-title,
.archive-title {
	font-size: 1.5rem !important;
	margin: 0 0 0.25rem 0 !important;
	line-height: 1.2  !important;
	font-family: -apple-system, BlinkMacSystemFont, ubuntu, roboto, noto, "segoe ui", "helvetica neue", helvetica, arial, sans-serif !important;
}

.archive .entry-title,
.blog .entry-title,
.search-results .entry-title {
	font-size: 1.25rem !important;
}

@media only screen and (min-width: 840px) {
	.entry-title,
	.archive-title {
		font-size: 2.25rem  !important;
	}
	.archive .entry-title,
	.blog .entry-title,
	.search-results .entry-title {
		font-size: 1.5rem !important;
	}
}

.entry-title a:link {
	color: #00449E;
}

.entry-title a:visited {
	color: #408BC9;
}

.entry-title a:hover,
.entry-title a:active,
.entry-title a:focus {
	color: #EC008C;
}

.entry-meta {
	color: #777;
	font-size: 0.875rem;
	margin: 0;
}

.entry-meta a:link,
.entry-meta a:visited {
	color: #00449E;
}

.entry-meta a:hover,
.entry-meta a:active,
.entry-meta a:focus {
	color: #EC008C;
}

.entry-content a:link {
	color: #00449E;
}

.entry-content a:visited {
	color: #408BC9;
}

.entry-content a:hover,
.entry-content a:active,
.entry-content a:focus {
	color: #EC008C;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-content dt {
	margin: 2.25rem 0 0 0;
	font-weight: bold;
}

.entry-content h1,
.entry-content h2 {
	font-size: 1.25rem;
}

@media only screen and (min-width: 840px) {
	.entry-content h1,
	.entry-content h2 {
		font-size: 1.5rem;
	}
}

.entry-content h3,
.entry-content dt {
	font-size: 1rem;
}

@media only screen and (min-width: 840px) {
	.entry-content h3,
	.entry-content dt {
		font-size: 1.25rem;
	}
}

.entry-content h4 {
	font-size: 0.875rem;
}

@media only screen and (min-width: 840px) {
	.entry-content h4 {
		font-size: 1rem;
	}
}

.entry-content dd,
.entry-content p {
	margin: 1rem 0;
}

.entry-content table {
	display: inline-block;
	vertical-align: top;
	max-width: 100%;
	overflow-x: auto;
	white-space: nowrap;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 1rem 0;
}

.entry-content table,
.entry-content table tbody {
  // optional - enable iOS momentum scrolling
  -webkit-overflow-scrolling: touch;
}

.entry-content thead {
	font-weight: bold;
}

.entry-content tr {
	border-bottom: 1px solid #EEE;
	padding-bottom: 0.5rem;
}

.entry-content td {
	padding-right: 1rem;
}


/*
SIDEBARS
--------------------------------------------------------------------------------
*/

#genesis-sidebar-primary {
	padding: 0.5rem;
	background-color: #FFF;
}

@media only screen and (min-width: 840px) {
	#genesis-sidebar-primary {
		padding: 2rem;
		border: 1px solid #FFF;
		border-radius: 3px;
	}
}


/*
FOOTERS
--------------------------------------------------------------------------------
*/

.site-footer {
	padding: 1rem 0.5rem;
}

@media only screen and (min-width: 840px) {
	.site-footer {
		padding: 1rem 1.5rem;
	}
}

.site-footer .wrap {
	max-width: 60em;
	margin: 0 auto;
}

.site-footer p {
	font-size: 0.875rem;
}


/*
WIDGETS
--------------------------------------------------------------------------------
*/

#wpadminbar {
	display: none;
}

/* Only show admin bar at widescreen */
@media only screen and (min-width: 1060px) {
	#wpadminbar {
		display: block;
	}
}

/* Search form */
@media only screen and (min-width: 840px) {
	/* Only need to align right if grid is supported */
	@supports (display: grid) {
		.search-form {
			text-align: right;
		}
	}
}

.search-form input[type="search"] {
	width: 50%;
	padding: 0.25rem 0.5rem;
	border: 1px solid #CCC;
	font-size: 0.875rem;
	font-family: -apple-system, BlinkMacSystemFont, ubuntu, roboto, noto, "segoe ui", "helvetica neue", helvetica, arial, sans-serif;
	-webkit-appearance: none;
	border-radius: 0;
}

@media only screen and (min-width: 840px) {
	.search-form input[type="search"] {
		width: 75%;
	}
}

.search-form input[type="submit"] {
	padding: 0.25rem 0.5rem;
	background-color: #389946;
	color: white;
	font-size: 0.875rem;
	border: 1px solid #CCC;
	cursor: pointer;
	font-family: -apple-system, BlinkMacSystemFont, ubuntu, roboto, noto, "segoe ui", "helvetica neue", helvetica, arial, sans-serif;
	-webkit-appearance: none;
	border-radius: 0;
}

::-moz-placeholder {
	color: transparent;
	opacity: 0;
}

::-webkit-input-placeholder {
	color: transparent;
}

/* Widgets in sidebars */
.sidebar .widget {
	padding-bottom: 1.5rem;
	font-size: 0.875rem;
}

.sidebar .widget-title {
	font-size: 1.25rem;
	margin-bottom: 0.5rem;
}

.sidebar .widget ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	border-top: 1px solid #EEE;
}

.sidebar .widget li {
	padding: 0.125rem 0;
	border-bottom: 1px solid #EEE;
}

.sidebar .widget a:link {
	color: #00449E;
}

.sidebar .widget a:visited {
	color: #408BC9;
}

.sidebar .widget a:hover,
.sidebar .widget a:active,
.sidebar .widget a:focus {
	color: #EC008C;
}

.sidebar .widget .post-date {
	font-size: 0.875em;
	color: #777;
}

/* Widgets on page nav lists */
.widgets_on_page ul {
	margin: 0 0 1.5rem 0;
	padding: 0;
}

.widgets_on_page li {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}

.widgets_on_page li a {
	display: block;
	padding: 0.125rem 0;
	border-top: 1px solid #EEE;
}

.widgets_on_page .widgettitle {
	font-size: 1.25rem;
	margin: 0 0 0.25rem 0;
}

/* CC pages plugin styles */

.entry-content h3.ccpage_linked_title {
	font-size: 1.25rem;
	padding-bottom: 0.25rem;
	margin-bottom: 0.25rem;
	border-bottom: 1px solid #EEE;
}



} /* End of screen media query, print styles can follow this */


/*
PRINT STYLES
--------------------------------------------------------------------------------
*/

@media print {


	* {
		background: #FFF;
		color: #000;
	}

	html {
		font: 100%/1.5 georgia, serif;
	}


} /* End print style sheet */
